{% extends 'snippets/base.html' %}

{% block content %}
        <form action="{%  url 'blog_create_comment' %}" method="post">
            {% csrf_token %}
            <label for="title">Email</label>
            <input type="email" id="title" name="email">

            <label for="title">Comment</label>
            <textarea id="title" name="comment"> </textarea>>

            <lable for="title">Published Post</lable>
            <input type="number" id="title" name="pub_post" value="1">

            <input type="submit" class="btn btn-primary" value="Post">
        </form>
{% endblock content %}